<div class='text-center'>
  <output type='text' class='display text-right' ng-bind='vmKeypad.answer'> </output>
</div>

<div class='text-center'>
  <button class='button button-positive text-center answer-button' ng-click='vmKeypad.checkAnswer(vmKeypad.answer)'>Submit Answer</button>
</div>

<div class='keypad col col-100'>
  <div class='row'>
    <button class='col col-33' ng-click='vmKeypad.updateAnswer(1)'>1</button>
    <button class='col col-33' ng-click='vmKeypad.updateAnswer(2)'>2</button>
    <button class='col col-33' ng-click='vmKeypad.updateAnswer(3)'>3</button>
  </div>
  <div class='row'>
    <button class='col col-33' ng-click='vmKeypad.updateAnswer(4)'>4</button>
    <button class='col col-33' ng-click='vmKeypad.updateAnswer(5)'>5</button>
    <button class='col col-33' ng-click='vmKeypad.updateAnswer(6)'>6</button>
  </div>
  <div class='row'>
    <button class='col col-33' ng-click='vmKeypad.updateAnswer(7)'>7</button>
    <button class='col col-33' ng-click='vmKeypad.updateAnswer(8)'>8</button>
    <button class='col col-33' ng-click='vmKeypad.updateAnswer(9)'>9</button>
  </div>
  <div class='row'>
    <button class='col col-33' ng-click='vmKeypad.updateAnswer(0)'>0</button>
    <button class='col col-33' ng-click='vmKeypad.updateAnswer(".")'>.</button>
    <button class='col col-33' ng-click='vmKeypad.updateAnswer("-")'>-</button>
  </div>
  <div class='row'>
    <button class='col col-50' class='backspace' ng-click='vmKeypad.backspace()'>Backspace</button>
    <button class='col col-50' class='reset' ng-click='vmKeypad.reset()'>c</button>
  </div>
</div>