<output type='text' class='display' ng-bind='vmKeypad.answer'></output>

<div class='keypad'>
  <button ng-click='vmKeypad.updateAnswer(1)'>1</button>
  <button ng-click='vmKeypad.updateAnswer(2)'>2</button>
  <button ng-click='vmKeypad.updateAnswer(3)'>3</button>
  <button ng-click='vmKeypad.updateAnswer(4)'>4</button>
  <button ng-click='vmKeypad.updateAnswer(5)'>5</button>
  <button ng-click='vmKeypad.updateAnswer(6)'>6</button>
  <button ng-click='vmKeypad.updateAnswer(7)'>7</button>
  <button ng-click='vmKeypad.updateAnswer(8)'>8</button>
  <button ng-click='vmKeypad.updateAnswer(9)'>9</button>
  <button ng-click='vmKeypad.updateAnswer(0)'>0</button>
  <button ng-click='vmKeypad.updateAnswer(".")'>.</button>
  <button ng-click='vmKeypad.updateAnswer("-")'>-</button>
  <button class='backspace' ng-click='vmKeypad.backspace()'>Backspace</button>
</div>