/* Overriding Ionic styles */
.bar .title + .buttons {
  right: 0 !important;
}
/* End overriding Ionic styles */


.login-button {
  margin-top: 2em;

  button {
    display: block;
    width: 80%;
    margin: 0 auto;
    font-size: 1.8em;
    font-weight: 200;
  }
}

output {
  display: inline-block;
  height: 50px;
  font-size: 2.5em;
  width: 60%;
  border: 2px solid black;
  line-height: 1.2em;
  margin-bottom: 1em;
  padding-right: 5px;
  padding-left: 5px;
}

.math-problem {
  font-size: 4em;
  line-height: 1em;
  font-weight: 900;

  .operands {
    display: inline-block;
  }

  .font-smaller {
    font-size: 0.7em;
    line-height: 0.8em;
  }

  .operator {
    display: inline-block;
  }
}


.keypad {
  position: absolute;
  bottom: 0;

  button {
    border: 1px solid gray;
    display: inline;
    font-size: 2.3em;
    font-weight: 200;

    &:active {
      background-color: dimgray;
      color: whitesmoke;
    }
  }
}

.level-button {
  font-size: 1.5em !important;
  border: 4px solid gray !important;
  margin-right: 10px;
  line-height: 1em !important;
}

.score-counter {
  color: white;
  width: 43px;
  height: 43px;
  line-height: 43px;
  font-size: 2.6em;
  font-weight: 200;
  text-align: center;
  margin: -5px 0 0 0 !important;
}

.wrong {
  background-color: red;
}

.correct {
  background-color: green;
}

.remainder-button {
  font-size: 1.2em !important;
}

.answer-button {
  font-size: 2.3em;
  width: 80%;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}